.logon-container {
    width: 100%;
    max-width: 1120px;
    height: 100vh;
    margin: 0 auto;
    padding: 30px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logon-container section.form {
    width: 100%;
    max-width: 350px;
}   

.logon-container section.form form {
    margin-top: 60px;
}

.logon-container section.form form h1 {
    font-size: 32px;
    margin-bottom: 32px;
}

@media (max-width: 1000px) {
    .logon-container {
      display: flex;
      flex-direction: column;
      padding: 20px;
    }
    .logon-container h1 {
        text-align: center;
    }
    .logon-container a {
        margin-top:15px
    }
    .logon-container img{
        width:80%;
    }
    .logon-container section.form img {
        width: 40%;
    }
}